<div>
    <% if logged_in? %>
        <h1>WELCOME, <%= current_user.username %>!</h1>
    <% else %>
        <h1>WELCOME TO THE COMMUNITY!</h1>
        <div>NEW USERS: <strong><%= link_to "SIGN UP HERE", new_user_path %></strong></div>
        <div>EXISTING USERS: <strong><%= link_to "LOG IN HERE", login_path %></strong></div>
    <% end %>
</div>