<div>
    <h1>Welcome to the the Community!</h1>
    <p>New Users: <strong><%= link_to "Sign Up Here", new_user_path %></strong></p>
    <p>Existing Users: <strong><%= link_to "Log In Here", login_path %></strong></p>
</div>